# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Docker
docker-compose.override.yml

# Streamlit
.streamlit/secrets.toml